.DS_store
.project
.cproject
build
*.so
MonetDBLite_*.t*

# MonetDB compilation files
src/sql/server/sql_parser.tab.c
src/sql/server/sql_parser.tab.h

# MonetDBJavaLite
monetdb-java-lite/target/
monetdb-java-lite/.gradle/
monetdb-java-lite/src/main/resources/
monetdb-java-lite/hs_err_*
monetdb-java-lite/libs
monetdb-java-lite/monetdb-java-lite.iml

# IDE stuff
.idea/
cmake-build-debug/

# The decrypted files!
monetdb-java-lite/gradle.properties
monetdb-java-lite/secring.gpg
id_monetdb
